<!DOCTYPE html>
<html>
  <head>
    <title>NER Analysis Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="text-center mb-5">NER Analysis Results</h1>
          {% if entities %}
          <div class="card mb-5">
            <div class="card-header">Named Entities:</div>
            <ul class="list-group list-group-flush">
              {% for label, text in entities %}
              <li class="list-group-item"><strong>{{ label }}:</strong> {{ text }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% if html %}
          <div class="card">
            <div class="card-header">Visual Representation:</div>
            <div class="card-body">
              {{ html | safe }}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
